{% extends "base.html" %}
{% block contact %}active{% endblock contact %}
{% load static %}

{% block content %}
 <!-- appointment -->
 <div class="appointment">
   <div class="container">
      <div class="row">
         <div class="col-md-12 ">
            <div class="titlepage text_align_center">
               <h2>Biz bilan Bog'lanish</h2>
            </div>
         </div>
         <div class="col-md-12">
            <form id="request" class="main_form" method="POST" action="{% url 'contact' %}">
               {% csrf_token %}
               <div class="row">
                  <div class="col-md-6 ">
                     <input class="form_control" placeholder="Your name" type="text" name="name" required>
                  </div>
                  <div class="col-md-6">
                     <input class="form_control" placeholder="Email" type="email" name="email" required>
                  </div>
                  <div class="col-md-6">
                     <input class="form_control" placeholder="Phone Number" type="text" name="phone_number" required>
                  </div>
                  <div class="col-md-6">
                     <input class="form_control" placeholder="Xabar" type="text" name="massage" required>
                  </div>
                  <div class="col-md-6 ">
                     <input class="form_control" placeholder="Time" type="time" name="time" required>
                  </div>
                  <div class="col-md-6">
                     <input type="date" class="form_control" id="date" name="date" required>
                  </div>
                  <div class="col-md-12">
                     <textarea style="color: #d0d0cf;" class="textarea" placeholder="Xabarlar" name="message" required></textarea>
                  </div>
                  <div class="col-md-12">
                     <button type="submit" class="send_btn">Send Now</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

{% endblock content %}