{% extends "base.html" %}
{% block home %} active{% endblock home %}
{% load static %}

{% block content %}
<div id="banner1" class="carousel slide">
    <ol class="carousel-indicators">
       <li data-target="#banner1" data-slide-to="0" class="active"></li>
       <li data-target="#banner1" data-slide-to="1"></li>
       <li data-target="#banner1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
       <!-- first slide -->
       <div class="carousel-item active">
          <div class="container">
             <div class="carousel-caption relative">
                <div class="row d_flex">
                   <div class="col-md-5">
                      <div class="creative">
                         <h1>Sog'lom<br>Hayot</h1>
                         <p> Sogʻlom turmush tarzi — insonning kun tartibiga rioya etishi, 
                            faol harakat asosida organizmini chiniqtirishi, sport bilan shugʻullanishi, 
                            toʻla va sifatli ovqatlanishi, gigiyenik qoidalarga amal kilishi, 
                            zararli odatlardan oʻzni tuta bilishidir, — deydi u. — Serharakatlilik organizmni tabiiy ravishda ragʻbatlantirib turadi.
                            Shuning uchun sergʻayrat,
                            tinib-tinchimaydigan odamlar doimo tetik, bardam, keksayganlarida ham baquvvat va shijoatli boʻladi.</p>
                      </div>
                   </div>
                   <div class="col-md-7">
                      <div class="row mar_right">
                         <div class="col-md-6">
                            <div class="agency">
                               <figure><img src="{% static 'images/slide1.JPG' %}" alt="#"/></figure>
                               <div class="play_icon">
                                  <a class="play-btn" href="javascript:void(0)"><img src="{% static 'images/play_icon.png' %}"></a>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="agency">
                               <figure><img src="{% static 'images/slide2.JPG' %}" alt="#"/></figure>
                               <div class="play_icon">
                                  <a class="play-btn" href="javascript:void(0)"><img src="{% static 'images/play_icon.png' %}"></a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
{% endblock content %}
